h2
{
  text-align: center;
  color: #4287f5;
}

#state-year-form
{
    text-align: center;
}

.box
{
 
 
}

.pColor
{
    text-align: center;
    color: #4287f5
}
/* text-align: center;
padding: 1em;
border: 0.5em solid black;
color: red; */