body {
  align-items: center;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  height: 100vh;
  color: rgb(255, 255, 255);
  text-align: center;
}

#title {
  color: rgb(85, 93, 181);
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

#test {
  text-align: center;
  color:  rgb(85, 93, 181);
}

#sate-select-form {
  background-color: #000000;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
  
}

#state-selector {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

#input-state {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 15px;
}

.box {
display: grid;
grid-template-columns: 290px 0px 100px;
grid-gap: 0px;
background-color: rgb(247, 5, 5);
color: rgb(255, 255, 255);
border-bottom: 1px solid rgb(241, 228, 228);
border-left: 1px solid rgb(241, 228, 228); 
border-top: 1px solid rgb(241, 228, 228); 
border-right: 1px solid rgb(241, 228, 228);
} 

.results {
  color:rgb(255, 255, 255);
} 

#usa-photo {
  max-width: 500%;
  height:auto;
  position:fixed;
  opacity: 0.5;
}

/* :hover */







