h2
{
  text-align: center;
  color: #4287f5;
}

#main
{
  text-align: center;
  color: red
}

#state-year-form
{
    text-align: center;
}

.box
{
text-align: center;
padding: 2em;
border: 0.2em solid #4287f5;
color: red;
 
}

.pColor
{
    text-align: center;
    color: #4287f5
}

#state-select-form
{
   background-color: rgb(220, 59, 59);
  color: white;
}

#usa-photo 
{
  text-align: center;
  color:rgb(220, 59, 59)
}